
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# --- Keycloak Admin ---
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=

# --- Keycloak DB Connection ---
KC_DB=postgres
KC_DB_URL_HOST=postgres
KC_DB_URL_DATABASE=
KC_DB_USERNAME=
KC_DB_PASSWORD=

# --- Spring OAuth2 Client (Keycloak) ---
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ISSUER_URI=http://localhost:8090/realms/auth2.0
KEYCLOAK_REDIRECT_URI=http://localhost:8081/login/oauth2/code/keycloak
